@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Poppins&display=swap');

@font-face {
    font-family: 'Bubblegum Superstar';
    src: url('fonts/BUBBS___.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;   
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(images/bg2.png); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
}

.cabecalho_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000ca;
    height: 8vh; /* Proporcional ao viewport */
}

.cabeca {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 5rem; /* Limite de tamanho máximo */
}

.ancoras {
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem; /* Valor ajustado */
}

.pthieves, .sobremim {
    text-decoration: none;
    color: white;
}

.pthieves {
    padding-right: 2.5rem;
}

.sobremim {
    padding-right: 5rem;
}

.flex {
    display: flex;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ptievesimg {
    width: 17%;
    height: auto; /* Mantém proporção automática */
    border-radius: 25px;
    margin-right: 10%;
}

.principal {
    background-color: rgba(128, 128, 128, 0.833);
    border-radius: 25px;
    margin: 4rem 1rem 2rem 12rem;
    display: flex;
    flex-wrap: wrap;
    width: 68%;
    gap: 1rem;
    padding-bottom: 2rem;      
}

.principal_titulo {
    font-family: 'Bubblegum Superstar', sans-serif;
    padding-top: 1rem;
    font-size: 3.75rem; /* Ajustado com rem */
    color: white;
    -webkit-text-stroke: 2px black;
    text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
    text-align: center;
    padding-left: 7%;
}

.principal_texto {
    font-family:'Arvo', sans-serif;
    font-size: 1.8125rem; /* Ajuste com rem */
    padding-left: 7%;
    font-weight: 700;
    color: white;
    -webkit-text-stroke: 2px #000;
    text-align: justify;
}

.areadotexto {
    width: 70%;
    border: none;
    border-radius: 25px;
    padding-left: 1.125rem;
    padding-top: 0.3125rem;
    margin-left: 7%;
    margin-bottom: 1rem;
    align-self: center;
    background-color: #6f1313;
    color: white;
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    flex-basis: 80%;
}

textarea:hover {
    background-image: linear-gradient(to top,#9b1f1f,#C9161D );
    border-color: #000000;
    transform: scale(1.1);
}

.informacao {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 7%;
}

.txtinformacao {
    font-family: 'Arvo', sans-serif;
    font-size: 0.9375rem;
    font-weight: 700;
}

.botoes {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    flex-basis: 100%;
}

.btenc, .btdes {
    background-image: linear-gradient(45deg,#C9161D, #4B0F0F, #090808);
    margin-left: 7%;
    width: 20%;
    padding: 1.5625rem;
    border-radius: 25px;
    font-size: 1.25rem;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    border: ridge 7px black;
    align-self: center;
    letter-spacing: 2px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btenc:hover, .btdes:hover {
    background-image: linear-gradient(to top, #6b1616, #C9161D);
    transform: scale(1.1);
}

.retanguloforma {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 25rem;
    height: 46.875rem;
    margin-bottom: 2rem;
    border-radius: 32px;
    margin-left: 1rem;
    margin-top: 4rem;  
    background-color: rgba(128, 128, 128, 0.833);  
}

.retangulotit {
    width: 21rem;
    height: 3.625rem;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.125rem;
    text-align: center;
    color: black;
    letter-spacing: 2px;
}
